.checkbox__label {
  font-size: 1.4rem;
}
input[type=checkbox] {
  display: none;
}
.checkbox__label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  &:before {
    content: '';
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
    background: #6EBBD3;
    margin-right: 1.8rem;
  }
}
input[type=checkbox]:checked + .checkbox__label:before {
  background-image: url(../../img/check.svg);
  background-repeat: no-repeat;
  background-position: center;
}