header {
  background-image: url(../img/header-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 144rem;
  margin: 0 auto;
  padding: 4rem 12.9rem 6.6rem 12.9rem;
  background-color: rgba(31, 32, 33, 0.79);
  @media (max-width: 578px) {
    padding-left: 4rem;
    padding-bottom: 4rem;
  }
  @media (max-width: 768px) {
    padding-left: 8.9rem;
  }
  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5rem;
  }
  &-bottom-text {
    font-weight: 700;
    font-size: 3.8rem;
    @media (max-width: 578px) {
      font-size: 2.8rem;
    }
    
  }
}
.header__nav.active {
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-size: 1.8rem;
  &.active {
    display: block;
    
  }
  @media (max-width: 992px) {
    display: none;
    padding: 0;
  }
}

.nav__item {
  margin: 0 2.5rem;
}
.nav__link {
  color: #fff;
  text-decoration: none;
  &:hover {
    color: rgba(255,255,255,0.5);
  }
}

.header__nav.active > .nav__list{
  display: block;
  justify-content: center;
  font-size: 4rem;
}
.header__nav.active > .nav__list > .nav__item{
  margin: 0 0 4rem 0;
}
