footer 
  .container.footer__container 
    .footer-info 
      .footer__title Успей купить!
      .footer__text Подпишись и успей словить все акции
    .footer-subscription
      .footer-subscription__form
        input(type="email" name="email-form" placeholder="Email").footer-subscription__input#email-input
        button.footer-subscription__button#email__btn Подписаться
      .footer-subscription__check  
        input(type="checkbox" name="sub" class="sub__checkbox" id="checkbox"  checked)
        label(for="checkbox").checkbox__label Подписаться на новости
  
    

