header 
  .header
    .header-top
      a(href="#" class="logo")
        img(src="../../img/logo.svg", alt="logo") 
        nav.header__nav
          ul.nav__list 
            li.nav__item 
              a(href="#").nav__link.active Main 
            li.nav__item  
              a(href="#").nav__link Gallery
            li.nav__item 
              a(href="#").nav__link News         
            li.nav__item 
              a(href="#").nav__link Profile
        .contacts
          .contacts-number +544 3490 00000
          span.contacts-text Звони скорее!
    .header-bottom
      .header-bottom-text Найдено 349 котов
  .burger 
    .burger__content
      .burger__line 